.movie-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.movie {
    display: flex;
    flex-direction: column;
    background: lightgoldenrodyellow;
    margin-bottom: 1rem;
    margin-right: 1rem;
    width: 300px;
    padding: 1rem;
    box-shadow: 1px 1px 9px grey;
    border-radius: 3px;
}

.year {
    padding-bottom: 1rem;
}
.ratings {
    padding-top: 1rem;
}